.footer-ctr {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(110, 26, 81);
  padding: 20px;
}

.copyright-mark {
  font-size: 12px;
  color: #EF79C0;
} 